---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=%5B%22505%20pole%20line%20rd.%22,%20%22CA%22,%20%22davis%22,%20%2295616%22%5D&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "505",
                       "short_name" : "505",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pole Line Road",
                       "short_name" : "Pole Line Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Davis",
                       "short_name" : "Davis",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Yolo County",
                       "short_name" : "Yolo County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "95618",
                       "short_name" : "95618",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "505 Pole Line Rd, Davis, CA 95618, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 38.5487999,
                       "lng" : -121.7266121
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.55014888029149,
                          "lng" : -121.7252631197085
                       },
                       "southwest" : {
                          "lat" : 38.5474509197085,
                          "lng" : -121.7279610802915
                       }
                    }
                 },
                 "place_id" : "EiY1MDUgUG9sZSBMaW5lIFJkLCBEYXZpcywgQ0EgOTU2MTgsIFVTQQ",
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Feb 2018 21:27:18 GMT
recorded_with: VCR 4.0.0
