---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=454%20Russell%20st.&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "454",
                       "short_name" : "454",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Russell Street",
                       "short_name" : "Russell St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Hadley",
                       "short_name" : "Hadley",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Hampshire County",
                       "short_name" : "Hampshire County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Massachusetts",
                       "short_name" : "MA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "01035",
                       "short_name" : "01035",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "454 Russell St, Hadley, MA 01035, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 42.3658207,
                       "lng" : -72.5392883
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.3671696802915,
                          "lng" : -72.53793931970849
                       },
                       "southwest" : {
                          "lat" : 42.3644717197085,
                          "lng" : -72.54063728029151
                       }
                    }
                 },
                 "place_id" : "ChIJ1SEL4R3S5okRCiv6Yvwhxnk",
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Feb 2018 23:04:56 GMT
- request:
    method: get
    uri: https://api.data.charitynavigator.org/v2/Organizations?app_id=6c5afdb1&app_key=<charity_api_key>&city=winters&minRating=3&sizeRange=1&state=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cn-Result-Count:
      - '0'
      Objectcount:
      - '0'
      Etag:
      - W/"3b-q+j/6Mewi5guTTGJEyLAqxGmrc0"
    body:
      encoding: UTF-8
      string: '{"errorMessage":"No organizations match your requirements"}'
  recorded_at: Sat, 03 Feb 2018 23:04:57 GMT
recorded_with: VCR 4.0.0
