
<h3>Every Wonder Where to Donate your extra belongings? </h3>
  <h4>Find organizations that need what you have</h4>
<div id="hands"><%= image_tag('hands.png') %></div>
<h3>Something to Donate? </h3>
